In [2]:
import numpy as np
import pandas as pd

In [6]:
count=[]
pos=0
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
pos_zero=list(i for i in range(len(df['X'])) if(df.iloc[i]['X']==0))
for i in range(len(df['X'])):
    if i in pos_zero:
        pos=0
    else:
        pos = pos + 1
        
    count.append(pos)
    
df['Y']=count
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [29]:
datetime=pd.date_range(start='2015-01-01',end='2015-12-31',freq='D')
df=pd.Series(np.random.rand(len(datetime)),index=datetime)
df

2015-01-01    0.533942
2015-01-02    0.286339
2015-01-03    0.163164
2015-01-04    0.104682
2015-01-05    0.584000
2015-01-06    0.658748
2015-01-07    0.516949
2015-01-08    0.769919
2015-01-09    0.868212
2015-01-10    0.668724
2015-01-11    0.101795
2015-01-12    0.203240
2015-01-13    0.759575
2015-01-14    0.191589
2015-01-15    0.406803
2015-01-16    0.779115
2015-01-17    0.559990
2015-01-18    0.534764
2015-01-19    0.608223
2015-01-20    0.290850
2015-01-21    0.659499
2015-01-22    0.305318
2015-01-23    0.866389
2015-01-24    0.238552
2015-01-25    0.896232
2015-01-26    0.160164
2015-01-27    0.272844
2015-01-28    0.506344
2015-01-29    0.122623
2015-01-30    0.932564
                ...
2015-12-02    0.686680
2015-12-03    0.914943
2015-12-04    0.839942
2015-12-05    0.752075
2015-12-06    0.812430
2015-12-07    0.302044
2015-12-08    0.985002
2015-12-09    0.091056
2015-12-10    0.204738
2015-12-11    0.290447
2015-12-12    0.278009
2015-12-13    0.674890
2015-12-14    0.300167
2015-12-15    0.178089
2015-12-16    0.374337
2015-12-17    0.304553
2015-12-18    0.115875
2015-12-19    0.532615
2015-12-20    0.655370
2015-12-21    0.777490
2015-12-22    0.377344
2015-12-23    0.871257
2015-12-24    0.237424
2015-12-25    0.477996
2015-12-26    0.318174
2015-12-27    0.130500
2015-12-28    0.312574
2015-12-29    0.904573
2015-12-30    0.819326
2015-12-31    0.024997
Freq: D, Length: 365, dtype: float64

In [31]:
df[datetime.weekday==2].sum()

25.629150533457381

In [33]:
df.resample('M').mean()

2015-01-31    0.494065
2015-02-28    0.477711
2015-03-31    0.483444
2015-04-30    0.472063
2015-05-31    0.489630
2015-06-30    0.519246
2015-07-31    0.457061
2015-08-31    0.510458
2015-09-30    0.476007
2015-10-31    0.486355
2015-11-30    0.504157
2015-12-31    0.500823
Freq: M, dtype: float64

In [38]:
df.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-30
2015-05-31   2015-03-28
2015-09-30   2015-08-04
2016-01-31   2015-10-28
dtype: datetime64[ns]